version: 1.0.{build}
branches:
  only:
  - feature/dotnetcore
  - develop
  - master
image: Visual Studio 2017
configuration: Release
assembly_info:
  patch: true
  file: '**\AssemblyInfo.*'
  assembly_version: '{version}'
  assembly_file_version: '{version}'
  assembly_informational_version: '{version}'
dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '{version}'
  package_version: '{version}'
  assembly_version: '{version}'
  file_version: '{version}'
  informational_version: '{version}'
install:
- cmd: >-
    choco install gitversion.portable -pre -y

    git submodule update --init --recursive
before_build:
- ps: >-
    # Display .NET Core version

    dotnet --version

    # Display minimal restore text

    dotnet restore ./src/NEventStore.Domain.Core.2017.sln --verbosity m

    gitversion /l console /output buildserver /updateAssemblyInfo
build:
  project: src/NEventStore.Domain.Core.2017.sln
  verbosity: minimal
after_build:
- cmd: dotnet pack ./src/NEventStore.Domain/NEventStore.Domain.Core.csproj -c %CONFIGURATION% --no-build -o artifacts /p:PackageVersion=%GitVersion_NuGetVersion%
artifacts:
- path: '**\artifacts\**\*.*'